body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  margin: 0 10px;
}

img{
  width: 50px;
  height: 50px;
}
.item__box {
  background-image: url(../public/img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px;
}
.item__bot{
  margin-top: 107px;
}

h1{
  color: pink;
}

button{
  background-color: rgb(253, 252, 253);
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s;
}

button:hover{
  border: 2px solid pink;
}

.item__img img{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 5px solid pink;
  margin-bottom: 20px;
}



/* .item__top {
  background: rgba(242, 222, 222, 0.578);
}

.item__bot {
  margin-top: 20px;
  border-radius: 50px;
  background-color: rgba(242, 222, 222, 0.578);
} */



/* .item__bot {
  border-radius: 50px;
  background-image: url(../public/img/background.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;

}

.item__box{
  background-image: url(../public/img/background.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
} */